

input[type="radio"]{
    display: none;
}

label{
    display: block;
    cursor: pointer;
    font-weight: 250;
    margin-bottom: 5px;
}

label span{
    display: inline-flex;
    align-items: center;
    padding: 5px 10px 5px 5px;
  
    transition: .25s ease;
}

label span:hover,
input[type="radio"]:checked + span{
    background-color: white;
}

label span:before{
    content: "";
    background-color: #fff;
    width: 21px;
    height: 21px;
    margin-right: 5px;
    transition: .25s ease;
    box-shadow:  inset 0 0 0 2px black;
}

input[type="radio"]:checked + span:before{
    box-shadow: inset 0 0 0 10px orange;
}